<div ng-controller="post-detailCtrl">
  <div class="container-fluid">
    <div>
      <div class="col-md-9 detail-main">
        <div class="text-center">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item" ng-class="{'1':'active'}[item.id]" ng-repeat="item in items.details">
                <a href="#/about">
                  <img ng-src="{{item.src}}" ng-style="{'height':'{{height}}'}" style="margin:auto;width:auto" alt="">              
                </a>
              </div>
            </div>
          </div>
          <!-- <img ng-src="{{items[0].src}}" alt="" style="width:auto;height:80%"> -->
         
          <div class="row" style="padding:4px">
              <div class="col-md-6 text-right" style="border-right:1px solid #000">
                  {{items.authorName}}
              </div>
              <div class="col-md-6 text-left">
                  <i class="fa fa-tag"></i> 标签：<span ng-repeat="tag in items.tags"> #{{tag}}  </span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 detail-aside">
        <div class="detail-aside-head">
          <a href="">
            <img ng-src="{{items.authorAvatar}}" class="img-circle" alt="">
            <span> {{items.authorName}} </span>
          </a>
        </div>
        <div class="detail-aside-content">
          <h5>{{items.content}}</h5>
        </div>
        <div class="detail-aside-comment">
          <br>
          <form action="" class="text-right">
            <textarea name="" id="" cols="30" rows="3"></textarea>
          </form>
          <div class="text-right">
            <button class="btn btn-primary">评论</button>
          </div>
          
          <ul class="list-unstyled">
            <li ng-repeat="comment in items.comments">
              <a href="">
                <img src="http://placehold.it/30x30" class="img-circle" alt="">
              </a>
              <div style="padding-left:35px">
                <span>{{comment.content}}</span>                
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>