
<div ng-controller="dashboardCtrl">
  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a ng-click="onClick()">
            <img src="http://placehold.it/1920x500" alt="">              
          </a>
        </div>
        <div class="item">
          <a href="#/about">
            <img src="http://placehold.it/1920x500" alt="">              
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="http://placehold.it/1920x500" alt="">              
          </a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="text-center">    
      <h1><span><i class="fa fa-check"></i></span> THIS IS SOME TEXT</h1>
      
      <P>
        THIS IS TEXT. THIS IS TEXT. THIS IS TEXT. THIS IS TEXT. THIS IS TEXT. THIS IS TEXT. THIS IS TEXT.
      </P>    
    </div>
    
    <div>
      <ul class="list-inline">
        <li ng-repeat="item in items">
          <!-- <span>the first item</span> -->
          <a class="post-cover" href="#/post/{{item.id}}" ng-style="{'background-image':'url({{item.src}})'}" style="width:200px;height:200px;display:inline-block">
            <!-- <img class="img-rounded img-hover" ng-src="{{item.src}}" alt="" title="这是一个标题或描述"> -->
            <div class="post-mask">
              <h3 class="post-title">{{item.title}}</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="text-center">
      <h1>THIS IS SOME TOOLS</h1>
      <P> TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL.</P>
    </div>
    <div>
      <ul class="list-inline">
        <li>
          <div>
            <a href=""><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>
        <li>
          <div>
            <a href=""><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>
        <li>
          <div>
            <a href=""><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>
        <li>
          <div>
            <a href=""><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>
        <li>
          <div>
            <a href=""><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>
        <li>
          <div>
            <a href=""><img src="http://placehold.it/150x150" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>
      </ul>
    </div>
  </div>
  
</div>