
<div ng-controller="dashboardCtrl">
  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2500">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a ng-click="onClick()">
            <img src="../../static/images/carousel/1.jpg" alt="">              
          </a>
        </div>
        <div class="item">
          <a href="#/about">
            <img src="../../static/images/carousel/2.jpg"  alt="">              
          </a>
        </div>
        <div class="item">
          <a href="">
            <img src="../../static/images/carousel/3.jpg" alt="">              
          </a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container">
    <div class="text-center">    
      <h1><span><i class="fa fa-check"></i></span> 作品 </h1>
      
      <P>
        部分个人摄影小作品
      </P>    
    </div>
    
    <div>
      <ul class="list-inline">
        <li ng-repeat="item in items">
          <!-- <span>the first item</span> -->
          <a class="post-cover" href="#/post/{{item.id}}" ng-style="{'background-image':'url({{item.src}})'}" style="width:200px;height:200px;display:inline-block">
            <!-- <img class="img-rounded img-hover" ng-src="{{item.src}}" alt="" title="这是一个标题或描述"> -->
            <div class="post-mask">
              <h3 class="post-title">{{item.title}}</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="text-center">
      <h1>一些修图软件</h1>
      <P> TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL. TOOL.</P>
    </div>
    <div class="text-center">
      <ul class="list-inline">
        <li ng-repeat="tool in tools">
          <div>
            <a href=""><img ng-src="{{tool.src}}" alt="" class="img-circle"></a>
          </div>
          <div class="text-center"><span>PS</span></div>
        </li>        
      </ul>
    </div>
  </div>
  
</div>